## Африка и Кризисы##

Внимательно прочитайте предлагаемую документацию (https://pandas.pydata.org/, https://scikit-learn.org/stable/), постройте требуемый классификатор и ответьте на два вопроса (включая код).
В ответ пришлите ссылку на репозиторий с выполненной работой.

https://www.kaggle.com/chirin/africa-economic-banking..

Постройте модель, которая оценивает вероятность того, что в следующем году в африканской стране Egypt произойдет кризис на базе 6летней истории (наличие кризиса, информация о валюте и внешнем долге).

Сколько ввп в среднем у стран с наименьшим количеством кризисов в спокойные годы?

1) Импортируем нужные библиотеки

In [2]:
import numpy as np
import pandas as pd
import sklearn as skl

2) Открываем датасет

In [3]:
data = pd.read_csv("african_crises.csv")
data

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

3) Посмотрев на датасет анализируем значение колонок

case - A number which denotes a specific country

cc3A - three letter country code

country - The name of the country

year - The year of the observation

systemic_crisis - "0" means that no systemic crisis occurred in the year and "1" means that a systemic crisis occurred in the year.

exch_usd - The exchange rate of the country vis-a-vis the USD

domestic_debt_in_default - "0" means that no sovereign domestic debt default occurred in the year and "1" means that a sovereign domestic debt default occurred in the year

sovereign_external_debt_default - "0" means that no sovereign external debt default occurred in the year and "1" means that a sovereign external debt default occurred in the year

gdp_weighted_default - The total debt in default vis-a-vis the GDP

inflation_annual_cpi - The annual CPI Inflation rate

independence - "0" means "no independence" and "1" means "independence"

currency_crises - "0" means that no currency crisis occurred in the year and "1" means that a currency crisis occurred in the year

inflation_crises - "0" means that no inflation crisis occurred in the year and "1" means that an inflation crisis occurred in the year

banking_crisis - "no_crisis" means that no banking crisis occurred in the year and "crisis" means that a banking crisis occurred in the year

In [4]:
Egypt = data["country"] == "Egypt"
data[Egypt]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
283,19,EGY,Egypt,1860,0,0.206612,0,0,0.0,5.944478,1,0,0,no_crisis
284,19,EGY,Egypt,1861,0,0.206612,0,0,0.0,5.952720,1,0,0,no_crisis
285,19,EGY,Egypt,1862,0,0.206612,0,0,0.0,5.940860,1,0,0,no_crisis
286,19,EGY,Egypt,1863,0,0.206612,0,0,0.0,5.950266,1,0,0,no_crisis
287,19,EGY,Egypt,1864,0,0.206612,0,0,0.0,5.951383,1,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,19,EGY,Egypt,2010,0,5.792600,0,0,0.0,11.690000,1,0,0,no_crisis
434,19,EGY,Egypt,2011,0,6.016900,0,0,0.0,11.090000,1,0,0,no_crisis
435,19,EGY,Egypt,2012,0,6.305700,0,0,0.0,8.650000,1,0,0,no_crisis
436,19,EGY,Egypt,2013,0,6.940000,0,0,0.0,6.914000,1,0,0,no_crisis
437,19,EGY,Egypt,2014,0,7.150000,0,0,0.0,10.099000,1,0,0,no_crisis

In [5]:
data[Egypt] [-6:]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
432,19,EGY,Egypt,2009,0,5.4754,0,0,0.0,16.240,1,0,0,no_crisis
433,19,EGY,Egypt,2010,0,5.7926,0,0,0.0,11.690,1,0,0,no_crisis
434,19,EGY,Egypt,2011,0,6.0169,0,0,0.0,11.090,1,0,0,no_crisis
435,19,EGY,Egypt,2012,0,6.3057,0,0,0.0,8.650,1,0,0,no_crisis
436,19,EGY,Egypt,2013,0,6.9400,0,0,0.0,6.914,1,0,0,no_crisis
437,19,EGY,Egypt,2014,0,7.1500,0,0,0.0,10.099,1,0,0,no_crisis

In [6]:
np.unique(data["gdp_weighted_default"].values, return_counts = True)
A = data["gdp_weighted_default"] == 0.
B = data["gdp_weighted_default"] == 0.06
C = data["gdp_weighted_default"] == 0.13
D = data["gdp_weighted_default"] == 0.23
E = data["gdp_weighted_default"] == 0.36
F = data["gdp_weighted_default"] == 0.4

In [7]:
np.unique(data["country"].values, return_counts = True)
Algeria = data["country"] == "Algeria"
Angola = data["country"] == "Angola"
CAR = data["country"] == "Central African Republic"
Egypt  = data["country"] == "Egypt"
IC = data["country"] == "Ivory Coast"
Kenya = data["country"] == "Kenya" 
Mauritius = data["country"] == "Mauritius"
Morocco = data["country"] == "Morocco"
Nigeria = data["country"] == "Nigeria"
SA = data["country"] == "South Africa"
Tunisia = data["country"] == "Tunisia" 
Zambia = data["country"] == "Zambia"
Zimbabwe = data["country"] == "Zimbabwe"

In [8]:
data[A]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1054,70,ZWE,Zimbabwe,2009,1,354.800000,1,1,0.0,-7.670000,1,1,0,crisis
1055,70,ZWE,Zimbabwe,2010,0,378.200000,1,1,0.0,3.217000,1,0,0,no_crisis
1056,70,ZWE,Zimbabwe,2011,0,361.900000,1,1,0.0,4.920000,1,0,0,no_crisis
1057,70,ZWE,Zimbabwe,2012,0,361.900000,1,1,0.0,3.720000,1,0,0,no_crisis
1058,70,ZWE,Zimbabwe,2013,0,361.900000,1,1,0.0,1.632000,1,0,0,no_crisis

In [9]:
data[B]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
838,63,TUN,Tunisia,1956,0,349.50000,0,1,0.06,4.807533,1,0,0,no_crisis
840,63,TUN,Tunisia,1958,0,0.41970,0,1,0.06,5.216941,1,2,0,no_crisis
845,63,TUN,Tunisia,1963,0,0.42000,0,1,0.06,0.970777,1,0,0,no_crisis
861,63,TUN,Tunisia,1979,0,0.40500,0,1,0.06,8.557120,1,0,0,no_crisis
862,63,TUN,Tunisia,1980,0,0.41870,0,1,0.06,10.011000,1,0,0,no_crisis
863,63,TUN,Tunisia,1981,0,0.51565,0,1,0.06,8.903000,1,0,0,no_crisis
864,63,TUN,Tunisia,1982,0,0.61575,0,1,0.06,13.673000,1,0,0,no_crisis

In [10]:
data[C]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
616,40,MAR,Morocco,1983,1,8.0610,0,1,0.13,6.208,1,0,0,crisis
619,40,MAR,Morocco,1986,0,8.7117,0,1,0.13,8.734,1,0,0,no_crisis
620,40,MAR,Morocco,1987,0,7.8003,0,1,0.13,2.699,1,0,0,no_crisis
621,40,MAR,Morocco,1988,0,8.2106,0,1,0.13,2.369,1,0,0,no_crisis
622,40,MAR,Morocco,1989,0,8.1218,0,1,0.13,3.138,1,0,0,no_crisis
623,40,MAR,Morocco,1990,0,8.0429,0,1,0.13,6.026,1,0,0,no_crisis

In [11]:
data[D]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
61,1,DZA,Algeria,1991,1,21.3919,0,1,0.23,25.9,1,1,1,crisis
62,1,DZA,Algeria,1992,1,22.7814,0,1,0.23,31.7,1,0,1,crisis
63,1,DZA,Algeria,1993,0,24.1230,0,1,0.23,20.5,1,0,1,no_crisis
64,1,DZA,Algeria,1994,0,42.8925,0,1,0.23,29.0,1,1,1,no_crisis
65,1,DZA,Algeria,1995,0,52.1750,0,1,0.23,29.8,1,1,1,no_crisis
66,1,DZA,Algeria,1996,0,56.1859,0,1,0.23,18.7,1,0,0,no_crisis

In [12]:
data[E]

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
793,56,ZAF,South Africa,1985,0,2.557545,0,1,0.36,16.201,1,1,0,no_crisis
794,56,ZAF,South Africa,1986,0,2.183406,0,1,0.36,18.750,1,0,0,no_crisis
795,56,ZAF,South Africa,1987,0,1.929943,0,1,0.36,16.194,1,0,0,no_crisis
797,56,ZAF,South Africa,1989,0,2.536011,0,1,0.36,14.506,1,0,0,crisis
801,56,ZAF,South Africa,1993,0,3.397500,0,1,0.36,9.874,1,0,0,no_crisis